/* html{    
    box-sizing:border-box;
    /* font-family: "Segoe UI", Roboto, Helvetica,Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    /* font-weight:500;
    font-size: 15px;
    text-shadow: 0px 1px 0 rgba(15, 9, 51, 0.7);

} */
/* body{    
    background-image:url(../src/assets/images/10.jpg);
} */ 