.body {
  font-size: 10px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  // margin: 0 !important;
  // padding: 0 !important;
  // box-sizing: border-box;
}
.AppContainer {
  overflow: hidden;
  // display: grid;
  // grid-template-columns: repeat(7, 1fr);
}

* {
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  grid-column: 1/-1;
  display: flex;
  background-color: white;
  min-height: 100px;
  justify-content: flex-start;
  align-items: center;
  font-size: 17px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.navbar a {
  display: flex;
  text-decoration: none;
  align-self: center;
  margin-left: 10px;
  padding: 20px;
  color: black;
  font-family: "Times New Roman", Times, serif;
}
.navbar > div {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
.navbar > button {
  display: flex;
  align-self: center;
  margin-right: 40px;
  margin-left: auto;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(24, 98, 66);
  color: rgb(255, 241, 228);
}
.carousel {
  grid-column: 1/-1;
  display: flex;
  max-height: 1000px;
  object-fit: fill;
  overflow: hidden;
  margin: 10px;
}
.image-slide {
  height: 100%;
  width: 100%;
  transition: background-image 0.25s ease-in-out;
}
.img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  transition: background-image 0.3s ease-in-out;
}
.imageSlide {
  display: flex;
  min-width: 100%;
  transition: all 0.9s ease;
  max-width: 100%;
  min-height: 170px !important;

}
.photo-gallery {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.grid-image {
  padding: 10px;
  max-height: 350px;
  flex-shrink: 0.5;
  display: flex;
  box-sizing: border-box;
  position: relative;
}
.grid-image img {
  object-fit: cover;
  max-width: 350px;
}
.grid-image .overlay {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  box-sizing: border-box;
  background-clip: content-box;
  transition: 0.5s;
  background-color: rgb(233, 127, 127);
}
.overlay button {
  opacity: 0;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  z-index: 3;
  background-color: transparent;
  color: rgb(255, 255, 255);
  transform: translate(250%, 350%);
  position: absolute;
}
.grid-image:hover {
  transform: translateY(10px);
  transition: 0.5s;
}
.grid-image:hover .overlay {
  opacity: 0.6;
  transition: 0.5s;
}
.grid-image:hover .overlay button {
  opacity: 1;
  transition: 0.5s;
}
h1 {
  font-family: fantasy;
}

button {
  padding: 10px !important;
  border-radius: 30px;
}

.embedLink {
  width: 100%;
  grid-column: 1/-1;
  display: flex;
}

.yt-link {
  margin: 0 auto;
}

/* 'Ephesis', cursive */
.heading-description {
  font-size: 3vh;
}
.description {
  margin-top: 30px;
  /* font-family: 'Gemunu Libre', sans-serif;*/
  font-family: "Maven Pro", sans-serif;
  margin-right: 0.5%;
  margin-left: 0.5%;
  font-size: 2vh;

}
.card {
  background: white;
  @media (min-width:600px) {
    padding: 20px;
  }
  @media (max-width:600px) {
    padding: 10px;
  }
  border: 1px solid;
  border-radius: 10px;
}

.product-carousel {
  padding: 5px;
}
